<head>
    <link rel="stylesheet" href="/css/genreGames.css">
</head>
    <h1>Games in Genre: {{genre}}</h1>

    {{#if games.length}}
        <ul>
            {{#each games}}
                <li>
                    <a href="/games/{{id}}/details"><strong>{{title}}</strong></a> - {{description}} (Released: {{formatTime releaseDate}})
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No games found in this genre.</p>
    {{/if}}

    <a href="/genres">Back to Genres</a>

