<h1>Manage Featured Games</h1>

<ul>
  {{#each featuredGames}}
    <li>
      <a href="/games/{{game.id}}/details"><strong>{{game.title}}</strong> </a> - {{game.description}} (Released: {{formatTime game.releaseDate}})
      <a href="/features/delete/{{id}}" style="color: red;">Remove</a>
    </li>
  {{/each}}
</ul>

<a href="/features/change">Change Featured Games</a>
